DB_USER=
DB_HOST=localhost
DB_PASSWORD=
DB_NAME=almacen_web
DB_PORT=5432
PORT=4000
FRONTEND_URL=http://localhost:3000

# JWT Secret (cambiar por un valor seguro)
JWT_SECRET=

# Prisma Connection String
DATABASE_URL="postgresql://usuario:password@localhost:5432/almacen_web?schema=public"